<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.CadenaDiscoteca" connectionString="Server=mysql-discoteca.mysql.database.azure.com; Port=3306; Database=biblioteca_vinilos; Uid=adminDiscoteca; Pwd=@dmin123; SslMode=Required;" />
        <add name="Informes.Properties.Settings.CadenaDiscoteca" connectionString="Server=mysql-discoteca.mysql.database.azure.com; Port=3306; Database=biblioteca_vinilos; Uid=adminDiscoteca; Pwd=@dmin123; SslMode=Required;" />
    </connectionStrings>
</configuration>